/* 共通項目 */
body {
    margin: 30px;
    color: #283655;
}
input {
    border: 2px solid;
}
.hidden {
    display: none;
}

/* タスク入力フォーム */
.task_form {
    padding: 5px 10px 10px 10px;
    border: 4px solid #4D648D;
    border-top-color: black;
    border-bottom-color: blue;
}
.task_form form{
    display: grid;
    grid-template-columns: 100px 1fr;
}
.task_form input[type="date"], select{
    width: 150px;
}
/* タスク一覧 */
.tasklist table {
    width: 100%;
    border: 3px solid #13ff03;
    border-collapse: collapse;
}
/* タスク更新ダイアログ（第18章のサンプルで使用） */
  #updateDialog {
    display: none;
/*    background-color: #ffffff;  */
    background-color: #90f5f0;
    border: 2px double;
    width: 500px;
    position: fixed;
    top: 120px;
    z-index: 9999;
}
