<!--<h1>僕のリンク集</h1>-->

<!--<h2>僕が勉強してきたこと</h2>-->
<!--<ul>-->
<!--    <li><a href="chapter06.html">段落と見出しの練習</a></li>-->
<!--    <li><a href="chapter07.html">特別な記述が必要な文字と改行の練習</a></li>-->
<!--    <li><a href="chapter08.html">強調を表す要素と重要を表す要素の練習</a></li>-->
<!--    <li><a href="chapter09.html">箇条書きの練習</a></li>-->
<!--    <li><a href="chapter10.html">用語説明型リストの練習</a></li>-->
<!--</ul>-->

<!--<h2>僕がWebの勉強に使っているサイト</h2>-->
<!--<p>-->
<!--    CreatorQuest<br>-->
<!--    <a href="https://creatorquest.jp/">https://creatorquest.jp/</a>-->
<!--</p>-->

<!--a要素の基本的な使い方-->
<!--a要素は、ハイパーリンクを設定したい箇所を、<a> 〜 </a>タグで挟み、 hrefエイチレフ属性を用いてリンク先を指定します。 href属性は、hypertextハイパーテキスト referenceリファレンスの略で、ハイパーリンクのリンク先を指定する属性です。-->

<!--リンク先のパスの指定方法は、Chapter13で詳しく説明します。-->

<!--a要素の使い方-->
<!--<a href="リンク先のパス">アンカーテキスト</a>-->
<!--wrap_text-->
<!--同じフォルダ内にあるHTMLファイルにリンクするサンプル-->
<!--同じフォルダ内にあるHTMLファイルにリンクする場合は、リンク先のパスに、相手のファイル名を記述すればリンクできます。-->

<!--faq.htmlというファイルにリンクする例-->
<!--<p>-->
<!--    なんとか<a href="faq.html">ボブの父親の会社のよくある質問ページ</a>を更新できた。-->
<!--</p>-->
<!--HTMLCopy-->
<!--wrap_text-->
<!--ブラウザでの表示例-->

<!--RERUN新しいウインドウで表示する-->
<!--外部のサイトにリンクするサンプル-->
<!--外部のWebサイトにリンクしたい場合は、そのページのURLをリンク先のパスに指定します。-->

<!--CreatorQuestにリンクする例-->
<!--<p>-->
<!--    <a href="https://creatorquest.jp/">CreatorQuest</a>へ-->
<!--</p>-->
<!--HTMLCopy-->
<!--wrap_text-->
<!--ブラウザでの表示例-->

<!--RERUN新しいウインドウで表示する-->
<!--基本的なリンクを設定してみよう 5:58-->
<!--それでは、a要素を使って基本的なリンクを設定してみましょう。-->

<!--「Chapter12」フォルダ内の「index.html」をテキストエディタで開く-->
<!--下記を参考にa要素をマークアップ-->
<!--Chapter12/index.html-->
<!--<h1>僕のリンク集</h1>-->

<!--<h2>僕が勉強してきたこと</h2>-->
<!--<ul>-->
<!--    <li><a href="chapter06.html">段落と見出しの練習</a></li>-->
<!--    <li><a href="chapter07.html">特別な記述が必要な文字と改行の練習</a></li>-->
<!--    <li><a href="chapter08.html">強調を表す要素と重要を表す要素の練習</a></li>-->
<!--    <li><a href="chapter09.html">箇条書きの練習</a></li>-->
<!--    <li><a href="chapter10.html">用語説明型リストの練習</a></li>-->
<!--</ul>-->

<!--<h2>僕がWebの勉強に使っているサイト</h2>-->
<!--<p>-->
<!--    CreatorQuest<br>-->
<!--    <a href="https://creatorquest.jp/">https://creatorquest.jp/</a>-->
<!--</p>HTMLCopy-->
<!--wrap_text-->
<!--上書き保存し、ブラウザで確認-->
<!--ブラウザでの表示例-->
<!--僕のリンク集-->

<!--RERUN新しいウインドウで表示する-->
<!--リンク先を新しいウインドウで表示する方法 12:21-->
<!--リンク先を新しいウインドウまたはタブで表示したい場合は、a要素に、targetターゲット属性というリンク先を表示する場所を指定する属性を用いて、属性値に "_blank" と指定します。-->

<!--target属性の使い方-->
<!--<a href="リンク先のパス" target="_blank">アンカーテキスト</a>-->
<!--wrap_text-->
<!--別ウインドウでリンク先を表示するサンプル-->
<!--別ウインドウでリンク先を表示する例-->
<!--<p>-->
<!--    僕は<a href="https://creatorquest.jp/" target="_blank">CreatorQuest</a>でWebの勉強をしている。-->
<!--</p>-->
<!--HTMLCopy-->
<!--wrap_text-->
<!--ブラウザでの表示例-->

<!--RERUN新しいウインドウで表示する-->
<!--リンク先を新しいウインドウで表示してみよう 12:53-->
<!--それでは、target属性を使ってリンク先を新しいウインドウまたはタブで表示してみましょう。-->

<!--「Chapter12」フォルダ内の「index.html」をテキストエディタで開く-->
<!--下記を参考に、target属性を追記-->
<!--Chapter12/index.html-->
<!--<h1>僕のリンク集</h1>-->

<!--<h2>僕が勉強してきたこと</h2>-->
<!--<ul>-->
<!--    <li><a href="chapter06.html">段落と見出しの練習</a></li>-->
<!--    <li><a href="chapter07.html">特別な記述が必要な文字と改行の練習</a></li>-->
<!--    <li><a href="chapter08.html">強調を表す要素と重要を表す要素の練習</a></li>-->
<!--    <li><a href="chapter09.html">箇条書きの練習</a></li>-->
<!--    <li><a href="chapter10.html">用語説明型リストの練習</a></li>-->
<!--</ul>-->

<!--<h2>僕がWebの勉強に使っているサイト</h2>-->
<!--<p>-->
<!--    CreatorQuest<br>-->
<!--    <a href="https://creatorquest.jp/" target="_blank">https://creatorquest.jp/</a>-->
<!--</p>-->


<!--別タブで開けるようにするURLリンクの作り方-->
<!--別タブで開けるようにするURLリンクの作り方は以下のようにHTMLを書きます。-->
<!--<a href=”https://shu-sait.com” target=”_blank”>トップページを別タブで開く</a>-->